@using Microsoft.AspNetCore.Http
@model SE1616_Group5_Ass3.Models.Booking
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Details";
    string seatstatus = @ViewBag.SeatStatus;
    int id = (int)HttpContextAccessor.HttpContext.Session.GetInt32("id");
}

<h1>Details</h1>
<div>
    <h4>Booking</h4>
    @for (var i = 0; i < 10; i++)
    {
        @for (var j = 0; j < 10; j++)
        {
            int check = 0;
            int index = i * 10 + j;
            @for(int k = 0; k < seatstatus.Length; k++)
            {
                @if (seatstatus[k].ToString().Equals("1") && k == index)
                {
                    check = 1;
                }
            }
            @if (check == 0)
            {
                <input type="checkbox" name="@index" disabled />
            }
            else

            {
                <input type="checkbox" name="@index" checked disabled/>
            }
        }
        <br />
    }
    <table class="table">
        <tr>
            <td>Name:</td>
            <td>@ViewBag.Name</td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td>@ViewBag.Amount</td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index" asp-route-id="@id">Back to List</a>
</div>